body{
    background-color: #083B4C;
}

div {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: center;
    justify-content: flex-start;

}


.box{
    width: 150px;
    height: 150px;
    margin: 2px solid black;  
    margin: 5px;
    background-color: #1389B2;
    align-items: center;
    justify-content: center;
   
}

.box-fizz{
    width: 150px;
    height: 150px; 
    margin: 5px;
    align-items: center;
    justify-content: center;
    background-color: #0CD6A1;
   
}

.box-buzz{
    width: 150px;
    height: 150px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    background-color: #FFD166;
}

.box-fizzbuzz{
    width: 150px;
    height: 150px; 
    margin: 5px;
    align-items: center;
    justify-content: center;
    background-color: #F0466F;
}